body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/background.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
}

.succe-message{
    width: 60%;
    margin-left: 20%;
    border: 1px solid green;
    margin-top: 10%;
    box-shadow: 5px 10px 5px rgb(0, 255, 76);
    background-color: white;
}
.succe-message h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: green;
    text-align: center;
}
.succe-message p{
     text-align: center;
}

/*----------------small devices-----------------*/
@media screen and (max-width: 900px) {
     .succe-message{
        margin-top: 55%;
        width: 94%;
        margin-left: 3%;
     }
     .succe-message h1{
        font-size: 15px;
     }
}